.experienceBar {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.experienceBar > div {
  flex: 1;
  height: 4px;
  border-radius: 8px;
  background: var(--gray-line);
  margin: 0 1rem;
  position: relative;
}

.experienceBar > div > div {
  height: 4px;
  border-radius: 4px;
  background: var(--green);
}

.experienceBar div .pointBar {
  height: 10px;
  width: 10px;
  border-radius: 8px;
  background-color: var(--green);

  position: absolute;
  top: -65%;
  left: 49.5%;
}

span.currentExperience {
  position: absolute;
  top: 12;
  transform: translateX(-50%);
  margin-top: 0.8rem;
}