.experienceBar {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.experienceBar > span {
  font-weight: 500;
}

.experienceBar > div {
  flex: 1;
  height: 6px;
  border-radius: 8px;
  background: var(--gray-line);
  margin: 0 1.8rem;
  position: relative;
}

.experienceBar > div > div {
  height: 6px;
  border-radius: 4px;
  background: var(--green);
}

.experienceBar div .pointBar {
  height: 12px;
  width: 12px;
  border-radius: 20px;
  background-color: var(--green);

  position: absolute;
  top: -50%;
}

span.currentExperience {
  position: absolute;
  top: 12;
  transform: translateX(-50%);
  margin-top: 0.8rem;
}