.container {
  height: 100vh;
  min-height: 810px;
  max-width: 1002px;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

.container section div {
  align-content: space-between;
}